@media only screen and (min-width: 992px) and (max-width: 1199px) {
.main-menu ul li a{padding:8px 15px}
.main-menu ul {
  line-height: 85px;
}
.info-intro {
  margin: 0 10px;
}
.main-menu ul li:hover ul {
top:86px;
}
.sec-title {
  margin: 0 140px 50px;
}
.all-testimonial .owl-controls {
  top: 50%;
}
.all-testimonial .owl-controls .owl-next {
  right: -34px;
}
.all-testimonial .owl-controls .owl-prev {
  left: -34px;
}

.sngl-client {
  margin:10px;
}

.slider-text {
  padding: 0 55px;
}

}
@media only screen and (max-width: 767px) {

.logo {
  padding-bottom: 0;
  text-align: center;
}

.counting_sl {
  margin: 40px 0;
}
.pricing-sec .inner-item {
  padding: 15px;
  margin: 10px 0;
}

.faq-img {
  float: none;
  text-align: center;
  width: 100%;
  margin-top: 25px;
}
.special-service-sec .inner:nth-child(2n+1) {
  clear: both;
}
.all-testimonial .owl-controls {
  top: 50%;
}
.all-testimonial .owl-controls .owl-next {
  right: -8px;
}
.all-testimonial .owl-controls .owl-prev {
  left: -8px;
}
.single-testimonial {
  margin: 0px 50px;
}
.client-comment li a {
  margin: 0 2px;
}
.footer-sec .col-md-3.col-sm-6 {
  margin-bottom: 25px;
  width: 100%;
  display: inline-block;
}	

.faq-img {
  margin-top: 50px;
}	
.slider-text {
  padding: 0 55px;
}
.about img {
  margin-bottom: 30px;
}
body p{font-size:14px}
h1 {
font-size: 24px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}
.sec-title {
  margin: 0 40px 50px;
}

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
.main-menu ul li a{padding:8px 15px}	
.main-menu ul {
  float: none;
  text-align: center;
}
.main-menu ul {
  line-height: 81px;
}
.info-intro {
  display: inline-block;
  margin: 15px 30px;
}
.intro-sec {
  margin-top: -1px;
}
.single-post-text.overlay a {
  font-size: 13px;
  padding-right: 8px;
}
.sec-title {
  margin: 0 40px 50px;
}
.main-menu ul li:hover ul {
top:82px;
}
body p{font-size:14px}
h1 {
font-size: 24px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}
.single-testimonial {
  margin: 0px 32px;
}
.footer-wedget-three li {
  font-size: 14px;
}
.slider-text h1 {
  font-size: 28px;
}
.logo {
  padding-bottom: 0;
  text-align: center;
}
.service-item .inner h2, .why-choose h2 {
  font-size: 16px;
}
.counting_sl {
  margin: 40px 0;
}
.pricing-sec .inner-item {
  padding: 15px;
  margin: 10px 0;
}

.faq-img {
  float: none;
  text-align: center;
  width: 100%;
  margin-top: 25px;
}
.special-service-sec .inner:nth-child(2n+1) {
  clear: both;
}
.all-testimonial .owl-controls {
  top: 50%;
}
.all-testimonial .owl-controls .owl-next {
  right: -22px;
}
.all-testimonial .owl-controls .owl-prev {
  left: -22px;
}

.client-comment li a {
  margin: 0 2px;
}
.footer-sec .col-md-3.col-sm-6 {
  margin-bottom: 25px;
}

.contact-person {
  padding: 0px;
}

.faq-img {
  margin-top: 50px;
}
.slider-text {
  padding: 0 55px;
}
.all-slide .single-slide {
  background-size: 100% 100%;
}
.about img {
  margin-bottom: 30px;
}
.slider-text p {
  padding: 0 0px;
}
.hd-lft li {
  padding: 0 4px;
}
.hd-lft li::before{display:none}
.footer-sec .col-md-3.col-sm-6:nth-child(2n+1) {
  clear: both;
}
}

@media only screen and (min-width: 0px) and (max-width: 470px) {
.hd-lft li::before{display:none}	
.hd-lft li{padding:0px 6px}
.hd-lft li i {
  margin-right: 4px;
}

.hd-sec .container {
  padding: 0;
}
.slider-text {
  padding: 0;
}
.slider-text p {
  color: #fff;
  padding: 0 100px;
}
.slider-text li:last-child a {
  margin-top: 15px;
}
.all-slide .owl-item {
  height: 600px;
}
.sec-title {
  margin: 0 30px 30px;
}
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
.hd-lft {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.page-heading h1 {
  text-align: center;margin-bottom:15px
}
.page-heading ul {
  text-align: center;
}
.hd-search {
  width: 100%;margin-top:20px
}
.info-intro {
  display: inline-block;
  margin: 15px 30px;
}
.intro-sec {
  margin-top: -1px;
}
.container{overflow:hidden}
.sec-title {
  margin: 0 40px 50px;
}
.page-heading h1 {
  font-size: 22px;
}
body p{font-size:14px}
h1 {
font-size: 24px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}
.abt-lft {
  margin-top:10px;
}
.hd-rgt {
  float: none;
  text-align: center;
}
.hd-sec {
  display: inline-block;
  width: 100%;padding:14px 0
}
.logo {
  padding: 28px 0;
}
.mean-container .mean-nav ul li a i {
  display: none;
}
.contact-person {
  padding: 0px 15px;
}

.slider-text {
  padding: 0 60px;
}
.all-slide .single-slide {
  background-size: 100% 100%;
}
.slider-text p {
  padding: 0
}
.hd-rgt {
  margin-top: 15px;
}
}

@media only screen and (min-width: 0px) and (max-width: 450px) {

.faq-img {
  margin-top: 50px;
}
.slider-text h1 {
  font-size: 28px;
}

}

@media only screen and (min-width: 0px) and (max-width: 380px) {
.hd-rgt {
  float: none;
  text-align: center;
  margin-bottom: 8px;
}
.hd-lft li{padding:5px 0;width:100%}

.sec-title {
  margin: 0 0px 30px;
}

}
@media only screen and (min-width: 0px) and (max-width: 359px) {
	
	
}